<footer class='bg-dark text-white  text-center p-2'>
<p>Budget App Designed by <br/></p>
<div>
<%= link_to 'Bantealem Geto', 'https://github.com/Bantealem', class: 'btn btn-text text-white'%>
</div>

<strong>
 Copyright &copy;2023
</strong>
</footer>